<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Say Something!</title>
    <link rel="stylesheet" href="./assets/css/styles.min.css" />
    <script type="text/javascript" src="./assets/js/birthday.js" defer></script>
  </head>
  <body>

    <audio autoplay loop src="./assets/audio/grow_old.mp3"></audio>

    <canvas id="c" width="831" height="880"></canvas>
    <div class="container">
      <div class="row">
        <% data.forEach(item => { %>
        <div class="card-wrapper">
          <div class="card">
            <div class="image">
              <img src= "<%= item['image_url'] %>"" alt="Alternative Text" />
            </div>
            <blockquote>
              <%= item['quote'] %>
            </blockquote>
          </div>
        </div>
        <!-- <%# item %> -->
        <%}) %>
      </div>
    </div>
    <div class="wish-card">
      <div class="imgBox">
        <div class="bark"></div>
        <img src="https://i.ibb.co/HTQ7FgH/lastofus-2.jpg" />
      </div>
      <div class="details">
        <p>সাহিত্য? সে তো লিখতে জানি না <br>
          তবে, আজ তোমার জন্য না হয় লিখলাম।</p>
        <p>ছবি? তেমন আঁকা হয় না<br>
          তবে, আজ থেকে না হয় তোমাকেই আঁকলাম।</p>
        <p>স্বপ্ন? সাজাতে পারি না<br>
          তবে, অনুমতি পেলে না হয় তোমাকে ঘিরেই সাজালাম।</p>
        <p>হাত দুটো? ধরা হয় না<br>
          তবে, সুযোগ দিলে আজই না হয় ধরলাম।</p>
        <p>অনুভূতিগুলো? প্রকাশ করা হয় না<br>
          তবে, সাহস দিলে না হয় আজ করেই ফেললাম।</p>
        <p>ভালোবাসতে? জানি না<br>
          তবে, সম্মতি পেলে না হয় তোমাকেই বাসলাম।</p>
        <p>হয়তো তোমায় পাওয়া হবে না<br>
          তবে, চেষ্টাটাই না হয় করে গেলাম।</p>
      </div>
      <div>
        <h4 style="color: aliceblue; font-family:Baloo Da 2;">You should know-
          I'm the most jealous  person in the world <br>
          
          যেটা আমার, সেটা শুধু আমারই</h4>
      </div>
    </div>
    <div>
      <br>
      <br>
    </div>
  </body>
</html>
